body{
	background-color: #000000;
}

p{
	color: #ffffff;
	text-align: center;
}

div{
	overflow: hidden;
}

div img{
	position: relative;
	display: block;
}	

.ship{
  height: 30px;
  width: 30px;
  position: absolute;
}

.bullet{
	height: 6px;
	width: 6px;
	position: absolute;
}

.asteroid{
	height: 80px;
	width: 80px;
	position: absolute;
}